{% load static %}
<!-- Vendor CSS Files -->
<link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css?{% now 'U' %}" rel="stylesheet">
<link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
<link href="/static/assets/vendor/glightbox/css/glightbox.min.css?{% now 'U' %}" rel="stylesheet">
<link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Main CSS File -->
<link href="/static/assets/css/main.css?{% now 'U' %}" rel="stylesheet">


<link rel="stylesheet" href="{% static 'vendor/blueimp-gallery.min.css' %}?{% now 'U' %}"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>