{% load static %}
<!-- Vendor JS Files -->
<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/aos/aos.js"></script>
<script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="{% static 'vendor/jquery.blueimp-gallery.min.js' %}?{% now 'U' %}"></script>

<script src="{% static 'js/galleryfield-ui.js' %}?{% now 'U' %}"></script>


<!-- Main JS File -->
<script src="/static/assets/js/main.js?{% now 'U' %}"></script>
<script href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script>
    blueimp.Gallery(document.getElementById('links').getElementsByTagName('a'), {
        container: '#blueimp-gallery-carousel',
        carousel: true

    })
</script>

<script>
    var data = {
        title: 'JavaScript Templates',
        license: {
            name: 'MIT license',
            url: 'https://opensource.org/licenses/MIT'
        },
        features: ['lightweight & fast', 'powerful', 'zero dependencies']
    }
</script>

<script>
    var fullscreenOptions = {
        // Defines if the gallery should open in fullscreen mode:
        fullscreen: true
    }
</script>

<script>
    var indicatorOptions = {
        // The tag name, Id, element or querySelector of the indicator container:
        indicatorContainer: 'ol',
        // The class for the active indicator:
        activeIndicatorClass: 'active',
        // The list object property (or data attribute) with the thumbnail URL,
        // used as alternative to a thumbnail child element:
        thumbnailProperty: 'thumbnail',
        // Defines if the gallery indicators should display a thumbnail:
        thumbnailIndicators: true

    }
</script>


