{% load home %}
{% teams_list as object_list %}

{% if object_list %}
    <!-- Team Section -->
    <section id="team" class="team section section-bg dark-background">

        <!-- Section Title -->
        <div class="container section-title" >
            <h2>Ekibimiz</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">
                {% for object in object_list %}
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{{ object.image.url }}" class="img-fluid" alt="">
                                <div class="social">
                                    {% if object.twitter %}
                                        <a href="{{ object.twitter }}"><i class="bi bi-twitter-x"></i></a>
                                    {% endif %}
                                    {% if object.instagram %}
                                        <a href="{{ object.instagram }}"><i class="bi bi-instagram"></i></a>
                                    {% endif %}
                                    {% if object.facebook %}
                                        <a href="{{ object.instagram }}"><i class="bi bi-facebook"></i></a>
                                    {% endif %}
                                    {% if object.linkedin %}
                                        <a href="{{ object.linkedin }}"><i class="bi bi-linkedin"></i></a>
                                    {% endif %}
                                    {% if object.github %}
                                        <a href="{{ object.github }}"><i class="bi bi-github"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>{{ object.name }}</h4>
                                <span>{{ object.department }}</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->
                {% endfor %}

            </div>

        </div>

    </section><!-- /Team Section -->
{% else %}
    <!-- Team Section -->
    <section id="team" class="team section section-bg dark-background">

        <!-- Section Title -->
        <div class="container section-title" >
            <h2>Ekibimiz</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" >
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" >
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Sarah Jhonson</h4>
                            <span>Product Manager</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" >
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/static/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" >
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/static/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4>
                            <span>Accountant</span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>

    </section><!-- /Team Section -->
{% endif %}
